@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


* {
  margin: 0;
  font-family: "Cabin";
  color: #333;
  text-align: justify;
  font-weight: bold;
}

html{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E2E8F0;
  height: auto;
}

.navbar {
  padding: 1% 0%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  background-color: #ffffff;
  width: 100%;
}
.navbar .links {
  margin-left: auto;
  font-weight: 500;
  display: flex;
}

.navbar h1{
  align-items: center;
  display: grid;
}

.navbar a{
  text-decoration: none;
  align-items: center;
  display: flex;
}

#basic-menu a{
  text-decoration: none;
}

.logo, .user{
  height: auto;
  width: 4em;
}

.logo{
  margin-right: 1em;
}

.sign-up-page, .login-page{
  display: flex;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.image-holder{
  background-color: #FDC414;
  border-radius: 1rem;
  width:15em;
  display: grid;
  align-items:center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.container{
  margin-top: 1rem;
  display:flex;
  justify-content: center;
  padding:2rem;
}

.sign-up-content, .login-content{
  padding: 4rem 2rem;
  justify-content: left;
}

.sign-up-content input, .login-content input{
  font-weight: 500;
  width: 20em;
  height:2.3em;
  padding: 0px 10px;
  margin: 10px 0;
  display: block;
  border-radius: 0.2em;
  font-size: 1em;
  margin-bottom: 0.9em;
  border-radius: 0.3em;
  border: 0.2em solid #E2E8F0;
}

.submit-button{
  display: flex;
  justify-content: center;
}

.submit-button button{
  background-color: #FDC414;
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
}

.image-holder h2{
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  text-align: center;
  margin: 0em 1em;
  font-size: 26px;
}

.image-holder img{
  max-width: 100%;
}

.link{
  display: flex;
  margin-top: 0.7em;
  margin-bottom: 1.2em;
  font-weight: 200;
}

.home{
  height: 100vh;
}

.home-view{
  display: flex;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.dateFilter{
  display:flex;
  font-weight: bold;
}

.dateFilter input{
  padding: 1em;
  margin-right: 1em;
  width: 13em;
  border-radius: 0.3em;
  border: 2px solid #E2E8F0;
  /* box-shadow: 1px 1px #E2E8F0; */
}

.filterBtn{
  background-color: #FDC414;
  border: none;
  padding: 1em 1.5em;
  border-radius: 0.3em;
}

.addBudgetBtn{
  margin-left: 40em;
  background-color: #000;
  color: #FFFFFF;
  border: none;
  padding: 1em 1.5em;
  border-radius: 0.3em;
}

.home-view{
  display: grid;
}

.budgetData {
  padding-top: 20px;
  overflow-x: auto;
}

.budgetData table {
  border-collapse: collapse;
  width: 100%;
}

.budgetData th,
.budgetData td {
  padding: 10px;
  border: 1px solid #e2e8f0;
}
.dots {
  display: flex;

}

.dots-icon {
  cursor: pointer;
}

.dots-icon.active {
  background-color: #f0f0f0;
}

.action-dropdown {
  background-color: #fff;
  padding-left: 10px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.action-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.action-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

#dropdown{
  width: 100%;
  
}

#basic-button{
  width: 100%;
  height: 100%;
  padding: 0px;
}

.contents{
  padding:2% 10% 2% 10%;
}

.budgetanalytics{
  display: block;
  padding: 3em 5em 3em 5em;
  background-color: #FFFFFF;
}

.budgetanalytics h2{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.tabs{
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2em;
  gap:1rem;
}

.chart{
  display: flex; 
  justify-content: center;
  align-items: center;
  height:50vh;
  padding:2% 5%;
} 

.tabs-btn{
  border: none;
  border-bottom: 4px solid #FDC414;
  padding: 0.5rem 4rem;
  transition: border-color 0.3s;
}

.tabs-btn.active{
  border: none;
  border-bottom: 4px solid #000000;
  padding: 0.5rem 4rem;
}

#popup{
  gap: 10px;
}

.alert-container {
  position: fixed;
  right: 20px;
  top: calc(10% + 60px); /* Adjust the percentage and offset as needed */
  z-index: 9999;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 100%;
}


